body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
*,
::after,
::before {
  box-sizing: border-box;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.root {
  --navy-blue: #2e2f42;
  --color-iris: #4d5ae5;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
  padding: 0;
}

.conteiner {
  width: 100%;
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
  /* outline: 1px solid red; */
}

.header {
  border-bottom: 1px solid #e7e9fc;
  background: #ffffff;
}

.header-conteiner {
  display: flex;
  text-align: center;
}

.header-navig {
  display: flex;
  align-items: center;
}

.header-logo {
  display: block;
  padding: 24px 0;
  margin-right: 76px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--navy-blue);
}
.logo-web {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}
.header-list {
  display: flex;
}
.header-link:hover,
.header-link:active,
.header-link:focus,
.header-link.current {
  color: #404bbf;
}
.header-link {
  display: block;
  position: relative;
  padding: 15px 15px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current {
  position: relative;
}

.header-link.current::after {
  content: "";
  position: relative;
  left: 0;
  bottom: -23px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  pointer-events: none;
}
.addres {
  display: flex;
  margin-left: auto;
}

.addres-email:hover,
.addres-email:focus,
.addres-email.current {
  color: #404bbf;
}
.addres-email,
.addres-number {
  padding: 15px 15px;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.addres-number:hover,
.addres-number:focus,
.addres-number.current {
  color: #404bbf;
}
.addres-list {
  align-items: center;
  display: flex;
}
.addres-list,
.header-list {
  display: flex;
  gap: 40px;
}

.hero-section {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7) 100%
    ),
    url(../images/heroimage.jpg);
  background-repeat: no-repeat;
  background-position: center;

  padding-top: 188px;
  padding-bottom: 188px;
  background-color: #2e2f42;
}
.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 188px 317px;
}
.hero-title {
  max-width: 496px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 48px;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}
.hero-btn:hover,
.header-btn:focus,
.header-btn:active,
.contacts-form-send-btn:hover,
.contacts-form-send-btn:focus,
.contacts-form-send-btn:active {
  background: #404bbf;
}
.hero-btn,
.contacts-form-send-btn {
  padding: 16px 32px;
  display: block;
  margin: 0 auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  border-radius: 4px;
  border-style: none;
  color: #ffffff;
  background: #4d5ae5;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.about-section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.about-list {
  display: flex;
  gap: 24px;
}
.about-soc {
  background: #f4f4fd;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  padding: 24px 0;
}
.about-icon {
  background-position: center;
  background-repeat: no-repeat;
  border-left: 100px;
  border-top: 24px;
}
.about-subtitle {
  margin-bottom: 8px;
  width: 264px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.about-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
  color: #434455;
}

.personal-section {
  padding-top: 120px;
  padding-bottom: 120px;
  background: #f4f4fd;
}
.personal-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
  text-transform: capitalize;
  color: var(--navy-blue);
}
.personal-list {
  justify-content: center;
  display: flex;
  gap: 24px;
}
.personal-pictures-subtitle {
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.personal-subtitle {
  margin-bottom: 8px;
  padding-top: 32px;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.personal-text {
  padding-bottom: 8px;
  text-align: center;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.personal-soc-list {
  padding-bottom: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.personal-soc-item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
}
.personal-soc-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.personal-soc-link:hover,
.personal-soc-link:focus {
  border-radius: 50%;
  background-color: #404bbf;
}
.personal-soc-icon {
  fill: #f4f4fd;
}
.customer {
  padding-top: 130px;
  padding-bottom: 120px;
}
.customer-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.customer-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}
.customer-item {
  width: 168px;
  height: 88px;
  display: flex;
  border: 1px solid #8e8f99;
  border-radius: 4px;
}
.customer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #8e8f99;
  border-color: 1px solid #8e8f99;
}
.customer-icon {
  fill: currentColor;
}

.customer-item:hover,
.customer-item:focus {
  fill: #404bbf;
  border-color: #404bbf;
}

.customer-link:hover .customer-icon,
.customer-link:focus .customer-icon {
  fill: #404bbf;
}

.foter {
  padding-top: 100px;
  padding-bottom: 100px;
  background: #2e2f42;
}

.foter-conteiner {
  display: flex;
}
.foter-box {
  margin-right: 120px;
}

.foter-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.foter-text {
  margin-top: 16px;
  width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
}
.foter-soc {
  display: flex;
  align-items: center;
}
.foter-soc-list {
  flex-direction: row;
  align-items: flex-start;
  display: flex;
  gap: 16px;
}

.foter-soc-text,
.call-to-action {
  margin-bottom: 16px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.foter-soc-item {
  width: 40px;
  height: 40px;
}
.foter-soc-link {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  display: flex;

  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.foter-soc-link:hover,
.foter-soc-link:focus {
  border-radius: 50%;
  background-color: #31d0aa;
}
.foter-soc-icon {
  fill: #f4f4fd;
}
.job-btn:hover,
.job-btn:focus,
.job-btn.current {
  background: #404bbf;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.job-section {
  padding-top: 96px;
  padding-bottom: 120px;
}

.job-list {
  background-color: #ffffff;
  margin-bottom: 72px;
  display: flex;
  justify-content: center;
  gap: 24px;
}
.job-btn {
  border: 1px solid #e7e9fc;
  padding: 12px 24px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: #f4f4fd;
  color: #4d5ae5;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.work-section {
  padding-bottom: 120px;
  padding-top: 0;
}
.work-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
  text-transform: capitalize;
  color: var(--navy-blue);
}
.work-list {
  display: flex;
  gap: 24px;
  background: #ffffff;
}
.portfolio-title {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.work-text {
  padding-left: 16px;
  padding-bottom: 32px;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.portfolio-list {
  display: flex;
  background: #ffffff;
  gap: 24px;
  flex-wrap: wrap;
  row-gap: 48px;
}
.portfolio-item {
  width: 360px;
  cursor: pointer;
  transform: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item a {
  display: inline-block;

  color: #434455;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item a:hover,
.portfolio-item a:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-item:hover .portfolio-hid {
  transform: translateX(0);
}

.portfolio-box {
  position: relative;
  overflow: hidden;
}
.portfolio-hid {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-hid > p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  margin-top: 24px;

  margin-left: auto;
  margin-right: auto;
  width: 296px;
}
/* .portfolio-box:hover,
  .portfolio-box:focus
{
    background: linear-gradient(0deg, rgba(77, 90, 229, 0.1), rgba(77, 90, 229, 0.1));
    background-blend-mode: soft-light, normal;
    mix-blend-mode: normal;
} */
.portfolio-pictures-title {
  box-sizing: border-box;
  padding: 32px 0 32px 16px;
  border-left: 1px solid#e7e9fc;
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
}

.work-text {
  padding-left: 16px;
  padding-bottom: 32px;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.logo-web-foter {
  line-height: 1.17;
  color: #4d5ae5;
}



.subscribe-form-elements-container {
  display: flex;
}
.subscribe-form [type='email'] {
  min-width: 264px;
  margin-right: 24px;
  padding: 7px 16px;
  color: #ffffff;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.subscribe-form [type='email']::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-btn {
  padding: 8px 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  border: 0;
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 16px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:hover {
  background-color: #404bbf;
}
.subscribe-btn:after {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24 2L0 13.25L7.66994 15.6172L19.5 6.375L10.5017 16.4913L10.509 16.4936L10.5 16.4913V22L14.8013 17.8183L20.2501 19.5L24 2Z' fill='white'/%3E%3C/svg%3E");
}



.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}
.modal {
  position: absolute;
  width: 408px;
  padding: 72px 24px 24px 24px;

  left: 50%;
  top: 50%;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #8e8f99;
  background-color:  #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
   0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 50ms;
}
.btn-close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  top: 24px;
  left: 360px;
  cursor: pointer;
  padding: 0px;
  background: rgb(231, 233, 252);
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-image: initial;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-close:hover,
.btn-close:focus {
  background: #404bbf;
  fill: #ffffff;
}

.contacts-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contacts-form b {
  margin-bottom: 14px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #2e2f42;
  text-align: center;
}

.contacts-form .input-field {
  margin-bottom: 8px;
}
.contacts-form label:not(.accept-checkbox-field) {
  display: inline-block;
  margin-bottom: 4px;
}

.contacts-form input:not([type="checkbox"]),
.contacts-form textarea {
  width: 100%;
  padding: 11px 16px 11px 37px;
  color: #2e2f42;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1)                  ;
}

.contacts-form textarea {
  min-height: 120px;
  margin-bottom: 16px;
  padding: 8px 16px;
  resize: none;
}

.contacts-form textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.subscribe-form input:focus,
.subscribe-form input:hover,
.contacts-form input:hover,
.contacts-form input:focus,
.contacts-form textarea:hover,
.contacts-form textarea:focus {
  outline: none;
  border-color: #4d5ae5;
}
.contacts-form input:not(.privacy-policy-checkbox):hover + svg,
.contacts-form input:not(.privacy-policy-checkbox):focus + svg {
  fill: #4d5ae5;
}
.contacts-form .input-wrapper {
  position: relative;
}

.input-field svg {
  display: block;
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translate(0, -50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
}

.accept-checkbox-field {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  color: #757575;
}
.accept-checkbox-field svg {
  margin-right: 8px;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;
  fill:transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.privacy-policy-checkbox:checked + svg {
  border-color: #404bbf;
  fill: #404bbf; 
}

.privacy-policy {
  color: #4d5ae5;
  text-decoration: underline;
}
.contacts-form-button-field {
  text-align: center;
}
.contacts-form-send-btn {
  min-width: 169px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}


